{% extends 'base.html' %}

{% block header %}
 <title>پنل کاربری</title>
{% endblock %}

{% block body %}
{% include 'parts/header.html'%}
    <section class="simple-box">
    <h2>اطلاعات حساب کاربری</h2>

    <table border="1" style="margin-bottom: 20px;">
        <tr>
            <th>نام کاربری</th>
            <td>{{ current_user.username }}</td>
        </tr>
        <tr>
            <th>شماره تلفن</th>
            <td>{{ current_user.phone }}</td>
        </tr>
        <tr>
            <th>آدرس</th>
            <td>{{ current_user.address }}</td>
        </tr>
    </table>

    
    <a href="/user/logout" class="red-btn">خروج از حساب کاربری</a>
    
        
    <a href="/user/charges">شارژ خود را پرداخت کنید</a>
</section>
{% endblock %}
