{% extends 'base.html' %}

{% block header %}
<title>ورود/ثبت نام</title>
{% endblock %}

{% block body %}
    
    <section class="simple-box" style="max-width: 290px; ;">
        
    <div id="login-box">
        <h2>ورود</h2>
    <form action="#" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="username" placeholder="نام کاربری" required>
        <input type="password" name="password" placeholder="رمز عبور" required>
        <input id="login-btn" type="submit" value="ورود">
    </form>
    </div>

    
    </section>


{% endblock %}